
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="card mb-5">
        <div class="card-body">
            <h4>User Profile</h4>
            <div class="dropdown-divider"></div>
            <div class="modal-body" id="DetailEmp">
                @*<form class="needs-validation" novalidate>*@
                <form id="addDataForm" class="needs-validation" novalidate>
                    <div class="row">
                        <div class="form-group col">
                            <label for="InputFN">Nama Depan</label>
                            <input type="text" class="form-control" id="InputFN" aria-describedby="inputFN" placeholder="cth: Budi" required>
                        </div>
                        <div class="form-group col">
                            <label for="InputLN">Nama Belakang</label>
                            <input type="text" class="form-control" id="InputLN" aria-describedby="inputLN" placeholder="cth: Setiawan" required>
                        </div>
                        <div class="form-group col">
                            <label for="InputGd">Jenis Kelamin</label>
                            <select class="custom-select mr-sm-2" id="InputGd" required>
                                <option value="">Pilih ...</option>
                                <option value="0">Laki-laki</option>
                                <option value="1">Perempuan</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col mb-0">
                            <label for="InputBd">Tanggal Lahir</label>
                            <div class="form-group">
                                <div class="datepicker date input-group">
                                    <input type="date" placeholder="cth: 2012-12-21" class="form-control" id="InputBd" required>
                                    <span class="input-group-append"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label for="InputPh">Nomor Telepon</label>
                            <input type="text" class="form-control" id="InputPh" aria-describedby="inputPh" placeholder="cth: 0812xxxxxxx" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label for="InputDg">Major</label>
                            <input type="text" class="form-control" id="InputMajor" aria-describedby="inputMajor" placeholder="cth: Teknik Informatika" required>
                        </div>
                        <div class="form-group col">
                            <label for="InputUn">Universitas</label>
                            <select class="custom-select mr-sm-2" id="InputUn" required>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label for="InputProvince">Province</label>
                            <select class="custom-select mr-sm-2" id="InputProvince" required>
                            </select>
                        </div>
                        <div class="form-group col">
                            <label for="InputCity">City</label>
                            <select class="custom-select mr-sm-2" id="InputCity" required>
                            </select>
                        </div>
                        <div class="form-group col">
                            <label for="InputDistrict">District</label>
                            <select class="custom-select mr-sm-2" id="InputDistrict" required>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label for="InputSubDistrict">Sub District</label>
                            <select class="custom-select mr-sm-2" id="InputSubDistrict" required>
                            </select>
                        </div>
                        <div class="form-group col">
                            <label for="InputUn">Street</label>
                            <input type="text" class="form-control" id="InputStreet" aria-describedby="inputStreet" placeholder="cth: Jl. Merdeka" required>
                        </div>
                    </div>
                    <br />
                    <button type="button" id="dataSubmit" class="btn btn-primary rounded float-right" onclick="UpdateMasterUser()" style="width: 150px">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
