@{
    Layout = null;
}

@*<div id="home">

    </div>

    <div class="container">
    <div class="mb-4" style="padding: 1rem;">
    <div class="row mx-auto mt-5 mb-5" style="width: 75%;">
    <div class="col-sm-2"></div>
    <div class="col-sm-5 align-self-center">
    <h3 style="font-weight: bolder; color: #4361CC;">Codemy</h3>
    <p style="text-align: justify">Belajar Coding bersama kami di sini, agar bisa menjadi programmer handal masa kini.</p>
    <div id="joinButton"></div>
    </div>
    <div class="col-sm-3">
    <a><img src="https://drive.google.com/uc?export=view&id=1PRI-khOq2Toj1M0KBl-B8NCK1e2GxVe7" alt="" width="150" height="150" class="mr-2"></a>
    </div>
    <div class="col-sm-2"></div>
    </div>
    </div>

    <div class="mb-5 text-center">
    <h4 style="font-weight: bolder">Masih bingung kenapa memilih <span style="font-weight: bolder; color: #4361CC;">Codemy</span>?</h4>
    <p class="mb-0" style="font-weight: lighter; font-size: 18px;">Kami memberikan pengalaman belajar yang menarik dan mudah dipahami,</p>
    <p class="mb-4" style="font-weight: lighter; font-size: 18px;">berikut ini <span style="font-weight: bold; color: #4361CC">Top 3 Kelas Terpopuler</span> kami:</p>
    <div id="topClass" class="row">

    </div>
    </div>

    <div class="row text-center">
    <div class="col-sm-6">
    <a><img src="https://drive.google.com/uc?export=view&id=1VQAlxJkb5oVKgyuVFL_5De_lObKkilU7" alt="" width="500" height="500" class="mr-2"></a>
    </div>

    <div class="col-sm-6 align-self-center">
    <h4 class="mb-3" style="font-weight: bolder">Kamu bisa <span style="font-weight: bolder; color: #4361CC;">belajar darimana saja</span>!</h4>
    <p class="mb-2" style="font-weight: lighter; font-size: 18px">Kamu cuma perlu memiliki:</p>
    <ul style="list-style: none; margin: 0; padding: 0;">
    <li><p class="mb-1" style="font-weight: lighter; font-size: 18px">Sebuah Gadget yang berfungsi</p></li>
    <li><p class="mb-1" style="font-weight: lighter; font-size: 18px">Browser yang tidak terlalu tua</p></li>
    <li><p class="mb-1" style="font-weight: lighter; font-size: 18px">Internet yang stabil</p></li>
    <li><p class="mb-1" style="font-weight: lighter; font-size: 18px">Dan pastinya, Niat</p></li>
    </ul>
    </div>
    </div>

    <div class="row text-center">
    <div class="col-sm-6 align-self-center">
    <h4 class="mb-3" style="font-weight: bolder">Materi dibuat oleh <span style="font-weight: bolder; color: #4361CC;">Seorang Profesional</span>.</h4>
    <p class="mb-0" style="font-weight: lighter; font-size: 18px">Semua materi di program kami memiliki kualitas tinggi</p>
    <p class="mb-0" style="font-weight: lighter; font-size: 18px">karena diolah dan dipegang langsung oleh Trainer handal</p>
    <p class="mb-0" style="font-weight: lighter; font-size: 18px">dan telah melalui proses kurasi yang sangat mendalam</p>
    </div>

    <div class="col-sm-6">
    <a><img src="https://drive.google.com/uc?export=view&id=13vEZF_BqB56R3bdG3s7unBswI95m_P-S" alt="" width="500" height="500" class="mr-2"></a>
    </div>
    </div>
    </div>*@

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>404 HTML Tempalte by Colorlib</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="~/css/styleError1.css" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>

<body>
	
	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>Oops!</h1>
			</div>
			<h2>401 - Not Authorized</h2>
			<p>Halaman yang diakses harus melakukan login terlebih dahulu, Mohon kembali ke halaman utama dan melakukan login!</p>
			<a href="../">Go To Homepage</a>
		</div>
	</div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>