
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row mx-auto mt-5 mb-5" style="width: 75%">
        <div class="col-sm-9 align-self-center">
            <h3>Codemy</h3>
            <p>Belajar Coding di sini, untuk menjadi programmer masa kini</p>
        </div>
        <div class="col-sm-3">
            <a><img src="https://drive.google.com/uc?export=view&id=1PRI-khOq2Toj1M0KBl-B8NCK1e2GxVe7" alt="" width="150" height="150" class="mr-2"></a>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col text-center">
            <h3>Kelas Terpopuler</h3>
        </div>
    </div>

    <div class="row mb-5 justify-content-center">

        <div class="col-sm-3">
            <div class="card">
                <div class="card-body text-center">
                    <div class="row mb-3">
                        <div class="col">
                            <img src="https://www.fpaceforum.com/media/100x100.4555/full" alt="" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <h5 class="font-weight-bold"><a href="class/details">(Nama Kelas A)</a></h5>
                            <span>(Nama Kategori)</span> <span>(Level)</span> <span>(Rating)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <div class="card-body text-center">
                    <div class="row mb-3">
                        <div class="col">
                            <img src="https://www.fpaceforum.com/media/100x100.4555/full" alt="" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <h5 class="font-weight-bold"><a href="class/details">(Nama Kelas B)</a></h5>
                            <span>(Nama Kategori)</span> <span>(Level)</span> <span>(Rating)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <div class="card-body text-center">
                    <div class="row mb-3">
                        <div class="col">
                            <img src="https://www.fpaceforum.com/media/100x100.4555/full" alt="" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <h5 class="font-weight-bold"><a href="class/details">(Nama Kelas C)</a></h5>
                            <span>(Nama Kategori)</span> <span>(Level)</span> <span>(Rating)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row mb-2">
        <div class="col text-center">
            <h3>Kelas Rating Tertinggi</h3>
        </div>
    </div>

    <div class="row justify-content-center">

        <div class="col-sm-3">
            <div class="card">
                <div class="card-body text-center">
                    <div class="row mb-3">
                        <div class="col">
                            <img src="https://www.fpaceforum.com/media/100x100.4555/full" alt="" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <h5 class="font-weight-bold"><a href="class/details">(Nama Kelas A)</a></h5>
                            <span>(Nama Kategori)</span> <span>(Level)</span> <span>(Rating)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <div class="card-body text-center">
                    <div class="row mb-3">
                        <div class="col">
                            <img src="https://www.fpaceforum.com/media/100x100.4555/full" alt="" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <h5 class="font-weight-bold"><a href="class/details">(Nama Kelas B)</a></h5>
                            <span>(Nama Kategori)</span> <span>(Level)</span> <span>(Rating)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <div class="card-body text-center">
                    <div class="row mb-3">
                        <div class="col">
                            <img src="https://www.fpaceforum.com/media/100x100.4555/full" alt="" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <h5 class="font-weight-bold"><a href="class/details">(Nama Kelas C)</a></h5>
                            <span>(Nama Kategori)</span> <span>(Level)</span> <span>(Rating)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

