@{
    ViewData["Title"] = "Details";
}

<script>
    let classId = @(ViewBag.ClassId);
</script>

<div id="classDetail">

</div>

@*<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-sm-4">
            <img src="https://dummyimage.com/sqrpop" alt="" />
        </div>
        <div class="col-sm-8 align-self-center">
            <h5 class="mb-3 font-weight-bold">(Nama Kelas A)</h5>
            <p>(Deskripsi: Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.)</p>
            <p><span>(Nama Kategori)</span> <span>(Level)</span> <span>(Rating)</span></p>
            <button id="gen-a-button" type="button" class="btn btn-primary">Take Class</button>
            <button id="feedback" type="button" class="btn btn-info" data-toggle="modal" data-target="#formFb">Give Feedback</button>
            <button id="gen-a-button" type="button" class="btn btn-success">View Certificate</button>
        </div>
    </div>
</div>*@

<div class="container card mb-3">
    <div class="card-body">
        
        <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
                <a class="nav-link active" href="#classSect">Class Sections</a>
            </li>
        </ul>

        <div id="#classSect" class="row">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist" style="height: 30rem; overflow: scroll;">
                    <a class="list-group-item list-group-item-action active" data-toggle="list" href="#sect1">(Nama Section 1)</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#sect2">(Nama Section 2)</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#sect3">(Nama Section 3)</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#sect4">(Nama Section 4)</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#sect2">(Nama Section 2)</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#sect3">(Nama Section 3)</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#sect4">(Nama Section 4)</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#sect2">(Nama Section 2)</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#sect3">(Nama Section 3)</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#sect4">(Nama Section 4)</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#sect2">(Nama Section 2)</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#sect3">(Nama Section 3)</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#sect4">(Nama Section 4)</a>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="sect1">
                        <h4>(Nama Section 1)</h4>
                        <br />
                        
                        <div id="vidSect1" class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uHyfQV0kbgo?rel=0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="sect2">
                        <h4>(Nama Section 2)</h4>
                        <br />
                        <div id="vidSect1" class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dQw4w9WgXcQ?rel=0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="sect3">
                        <h4>(Nama Section 3)</h4>
                        <br />
                        <div id="vidSect1" class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dQw4w9WgXcQ?rel=0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="sect4">
                        <h4>(Nama Section 4)</h4>
                        <br />
                        <div id="vidSect1" class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dQw4w9WgXcQ?rel=0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@* Feedback Modal *@
<div class="modal fade" id="formFb" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Feedback Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <form>
                        <div class="form-group">
                            <div class="rating">
                                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputFb">Ulasan Kamu</label>
                            <textarea class="form-control" id="exampleInputEmail1" placeholder="ketik ulasanmu disini ..." rows="3"></textarea>
                            <small class="form-text text-muted">Ulasanmu sangat penting bagi kami.</small>
                        </div>
                        <button type="submit" class="btn btn-primary rounded float-right">Send Feedback</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@* Payment Midtrans JS *@
<script type="text/javascript">
    var genButton = document.getElementById('gen-a-button');
    genButton.addEventListener('click', function () {
        let timestamp = Math.round(Date.now() / 1000);
        $.ajax({
            url: "https://app.sandbox.midtrans.com/snap/v1/transactions",
            type: "POST",
            headers: {
                "Content-Type": "application/json",
                "Accept": "application/json",
                "Authorization": "Basic " + "U0ItTWlkLXNlcnZlci1sdHhEaS1iQ3hMSGV6Z281MlRHa183cXA6"
            },
            data: JSON.stringify({
                "transaction_details": {
                    "order_id": `PAY-CLASS-A-${timestamp}`,
                    "gross_amount": 2000000
                },
                "credit_card": {
                    "secure": true
                },
                "customer_details": {
                    "first_name": "Dari",
                    "last_name": "Client",
                    "email": "Daclint@mail.com",
                    "phone": "08110000000"
                }
            })
        }).done((result) => {
            snap.pay(result.token);
        }).fail((error) => {
            console.log(error);
        });
    });
</script>

@* Getting Rating Value
    <button id="chk" type="button" class="btn btn-success">Check</button>
    <script>
        document.getElementById('chk').onclick = function () {
            let star = document.getElementsByName('rating');
            let selected = Array.from(star).find(radio => radio.checked);
            console.log(selected.value);
        }
    </script>*@