
@{
    ViewData["Title"] = "Details";
}

<span>Daftar Kelas A </span>
<button id="gen-a-button">Bayar!</button>
<br />
<span>Daftar Kelas B </span>
<button id="gen-b-button">Bayar!</button>
<br />
<span>Daftar Kelas C </span>
<button id="gen-c-button">Bayar!</button>
<br />

