@{
    ViewData["Title"] = "Details";
}

<div id="codemyClassesDetail">

</div>

<script>
    let classId = @(ViewBag.ClassId);
    @*let strTest = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.strTest))*@
    console.log(classId);
    /*console.log(strTest[0]);*/
</script>

<div id="classDetail">

</div>

<div id="classSections">

</div>


@* Pembayaran Midtrans *@
<script>
    function enroll() {
        let token = "";
        $.ajax({
            url: "https://localhost:44376/api/takenclasses/register",
            type: "post",
            headers: {
                "Content-Type": "application/json",
                "Accept": "application/json"
            },
            data: JSON.stringify(
                {
                    "Email": sesEmail,
                    "Class_Id": classId
                }),
            async: false
        }).done((result) => {
            token = result.dataToken.token;
            snap.pay(token);
        }).fail((error) => {
            console.log(error);
        })
    }
</script>

@* Feedback Modal *@
<div class="modal fade" id="formFb" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Feedback Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <form>
                        <div class="form-group">
                            <div class="rating">
                                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputFb">Ulasan Kamu</label>
                            <textarea class="form-control" id="reviewText" placeholder="ketik ulasanmu disini ..." rows="3"></textarea>
                            <small class="form-text text-muted">Ulasanmu sangat penting bagi kami.</small>
                        </div>
                        <button id="btnSendFb" type="submit" class="btn btn-primary rounded float-right">Send Feedback</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@* Getting Rating Value
    <button id="chk" type="button" class="btn btn-success">Check</button>
    <script>
        document.getElementById('chk').onclick = function () {
            let star = document.getElementsByName('rating');
            let selected = Array.from(star).find(radio => radio.checked);
            console.log(selected.value);
        }
    </script>*@