
@{
    ViewData["Title"] = "Index";
}

<div id="mainTitle" class="text-center mb-5 mt-5">
    <h3>Daftar Kelas Codemy</h3>
    <p>Silahkan pilih kelas yang kamu inginkan</p>
</div>

<div class="container text-center">
    <div class="card">
        <div id="mainCard" class="card-body">
            <div id="filter" class="row mb-4">
                <div class="col-sm">
                    <p class="mb-0">Level</p>
                    <select id="lv" class="selectpicker" multiple>
                        <option>Beginner</option>
                        <option>Intermediate</option>
                        <option>Expert</option>
                    </select>
                </div>

                <div class="col-sm">
                    <p class="mb-0">Category</p>
                    <select id="cg" class="selectpicker" multiple>
                        <option>Front-End</option>
                        <option>Back-End</option>
                        <option>Fullstack</option>
                    </select>
                </div>

                <div class="col-sm">
                    <p class="mb-0">Price Range</p>
                    <select id="cg" class="selectpicker" multiple>
                        <option>500.000 - 1.000.000</option>
                        <option>1.000.001 - 2.500.000</option>
                        <option>2.500.000+</option>
                    </select>
                </div>
            </div>

            <div id="classes">

            </div>
        </div>
    </div>
</div>
