
@{
    ViewData["Title"] = "Index";
}

<div id="codemyClasses">

</div>

<div id="mainTitle" class="text-center mb-5 mt-5">
    <h3>Daftar Kelas Codemy</h3>
    <p>Silahkan pilih kelas yang kamu inginkan</p>
</div>

<div class="container text-center">
    <div class="card">
        <div id="mainCard" class="card-body">
            <div id="filters" class="row mb-4">

            </div>

            <div id="classes">

            </div>
        </div>
    </div>
</div>