
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<html>

<head>
    <script type="text/javascript" src="https://app.sandbox.midtrans.com/snap/snap.js" data-client-key="SB-Mid-client-cyFXZtmM2vBT9TVs"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>

<body>
    <span>Daftar Kelas A </span> <button id="gen-a-button">Bayar!</button> <br />
    <span>Daftar Kelas B </span> <button id="gen-b-button">Bayar!</button> <br />
    <span>Daftar Kelas C </span> <button id="gen-c-button">Bayar!</button> <br />


    <script type="text/javascript">
        var genButton = document.getElementById('gen-a-button');
        genButton.addEventListener('click', function () {
            let timestamp = Math.round(Date.now() / 1000);
            console.log(timestamp);
            $.ajax({
                url: "https://app.sandbox.midtrans.com/snap/v1/transactions",
                type: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "Accept": "application/json",
                    "Authorization": "Basic " + "U0ItTWlkLXNlcnZlci1sdHhEaS1iQ3hMSGV6Z281MlRHa183cXA6"
                },
                data: JSON.stringify({
                    "transaction_details": {
                        "order_id": `PAY-CLASS-A-${timestamp}`,
                        "gross_amount": 2000000
                    },
                    "credit_card": {
                        "secure": true
                    },
                    "customer_details": {
                        "first_name": "Dari",
                        "last_name": "Client",
                        "email": "Daclint@mail.com",
                        "phone": "08110000000"
                    }
                })
            }).done((result) => {
                snap.pay(result.token);
            }).fail((error) => {
                console.log(error);
            });
        });

        var genButton = document.getElementById('gen-b-button');
        genButton.addEventListener('click', function () {
            let timestamp = Math.round(Date.now() / 1000);
            console.log(timestamp);
            $.ajax({
                url: "https://app.sandbox.midtrans.com/snap/v1/transactions",
                type: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "Accept": "application/json",
                    "Authorization": "Basic " + "U0ItTWlkLXNlcnZlci1sdHhEaS1iQ3hMSGV6Z281MlRHa183cXA6"
                },
                data: JSON.stringify({
                    "transaction_details": {
                        "order_id": `PAY-CLASS-B-${timestamp}`,
                        "gross_amount": 3000000
                    },
                    "credit_card": {
                        "secure": true
                    },
                    "customer_details": {
                        "first_name": "Dari",
                        "last_name": "Client",
                        "email": "Daclint@mail.com",
                        "phone": "08110000000"
                    }
                })
            }).done((result) => {
                snap.pay(result.token);
            }).fail((error) => {
                console.log(error);
            });
        });

        var genButton = document.getElementById('gen-c-button');
        genButton.addEventListener('click', function () {
            let timestamp = Math.round(Date.now() / 1000);
            $.ajax({
                url: "https://app.sandbox.midtrans.com/snap/v1/transactions",
                type: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "Accept": "application/json",
                    "Authorization": "Basic " + "U0ItTWlkLXNlcnZlci1sdHhEaS1iQ3hMSGV6Z281MlRHa183cXA6"
                },
                data: JSON.stringify({
                    "transaction_details": {
                        "order_id": `PAY-CLASS-C-${timestamp}`,
                        "gross_amount": 2500000
                    },
                    "credit_card": {
                        "secure": true
                    },
                    "customer_details": {
                        "first_name": "Dari",
                        "last_name": "Client",
                        "email": "Daclint@mail.com",
                        "phone": "08110000000"
                    }
                })
            }).done((result) => {
                snap.pay(result.token);
            }).fail((error) => {
                console.log(error);
            });
        });
    </script>
</body>

</html>


