@{
    ViewData["Title"] = "Home";
    Layout = "_ViewGeneralAdmin";
}
<div class="card" style = "height : auto;">
    <div class="text-center" style="margin:auto;">
         <img src="https://drive.google.com/uc?export=view&id=1PRI-khOq2Toj1M0KBl-B8NCK1e2GxVe7"  width="300" height="300"> <h1 class="display-4"> 
             <br>
             <b>CODEMY CONTROLLER</b></h1>
    </div>
</div>
