@{
    ViewData["Title"] = "Home";
    Layout = "_ViewGeneralAdmin";
}
<div class="card" style = "height : 200px;">
    <div class="text-center" style="margin:auto;">
        <h1 class="display-4"><b>CONTROLLER WEBSIDE</b></h1>
    </div>
</div>
