@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/cerfiticate.css" />
</head>
<body>
    <div class="container pm-certificate-container">
        <div class="outer-border"></div>
        <div class="inner-border"></div>

        <div class="pm-certificate-border col-xs-12">
            <div class="pm-canvas-text">
                <div class="center-text">
                    <div class="setting-tittle">Certificate of Completion</div>
                    <div class="class-name" id="class-name">Class Name</div>
                    <div class="setting-code" id="cert-code">This Code Sertif</div>

                    <hr class="line-bg">
                    <br></br>
                    <div class="student-name" id="user-name">Example Name Participan</div>
                    <hr class="line-name">
                    <p class="class-desc"> Thanks for being participant of course and growed your skill.</p>
                </div>
                <p class=""></p>
                <div class="row">

                    <div class="col" style="position : relative;">
                        <footer class="main-footer">
                            <div class="footer-style">
                                #Participan <strong><a href="https://localhost:44329/">Academy</a>.</strong> All rights reserved.
                            </div>
                        </footer>
                    </div>


                    <div class="col" style="position : relative;">
                        <center>
                            <img class="ttd2" src="https://drive.google.com/uc?export=view&id=1PRI-khOq2Toj1M0KBl-B8NCK1e2GxVe7" alt="" width="80" height="80">
                            <div class="ttd">Academy Company</div>
                        </center>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
