@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Client</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/user.css" />
    <script type="text/javascript" src="https://app.sandbox.midtrans.com/snap/snap.js" data-client-key="SB-Mid-client-cyFXZtmM2vBT9TVs"></script>
</head>
<body class="bg-light" style="background-image: url('https://img.freepik.com/free-vector/abstract-background-with-monochrome-low-poly-design_1048-14453.jpg?w=2000'); ">
    @* Header *@
    <header>
        @* Navbar *@
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-0">
            <div class="container-fluid mx-5">
                <a><img src="https://drive.google.com/uc?export=view&id=1PRI-khOq2Toj1M0KBl-B8NCK1e2GxVe7" alt="" width="30" height="30" class="mr-2"></a>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="~/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="~/class">Codemy Classes</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <div id="loginLogout">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    @* Body *@
    <div class="mx-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <p id="sessionEmail" hidden>@HttpContextAccessor.HttpContext.Session.GetString("email")</p>
    <script>
        let sesEmail = document.getElementById("sessionEmail").innerHTML;
    </script>

    @* Footer *@
    <footer class="border-top text-muted mt-2 pt-3 pb-3 invisible">
        <div class="container-fluid">
            <span class="ml-5">&copy; 2022 - Codemy - MCC Project</span>
        </div>
    </footer>

    <footer class="footer text-muted mt-5">
        <div class="container-fluid">
            <span class="ml-5" style="font-size: 12px;">&copy; 2022 - Codemy - MCC Project</span>
        </div>
    </footer>

    <!-- Login/Register/ForgotPass -->
    <div id="navModal">
        <div class="modal fade" id="loginModal">
            <div class="modal-dialog modal-dialog-centered" role="document" style="width: 22rem;">
                <div class="modal-content">
                    <div class="modal-header border-0 mt-3 mx-3">
                        <h5>Login</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <form class="mx-2 needs-validation" action="/login/auth" method="POST" id="formLoginAccount" novalidate>
                                <div class="form-group">
                                    <label for="LogEmail">Email</label>
                                    <input type="email" name="Email" class="form-control" id="LogEmail" placeholder="" required>
                                    <div class="invalid-feedback">
                                        Mohon Isi Email
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="LogPass">Password</label>
                                    <input type="password" name="Password" class="form-control" id="LogPass" placeholder="" required>
                                    <div class="invalid-feedback">
                                        Mohon Isi Password
                                    </div>
                                    <small><a href="#forgotPass1Modal" class="text-dark font-italic" data-target="#forgotPass1Modal" data-toggle="modal" data-dismiss="modal">Lupa password?</a></small>
                                </div>
                                <div class="text-right">
                                    <small><a href="#registerModal" id="linkRegister" class="text-dark font-italic" data-target="#registerModal" data-toggle="modal" data-dismiss="modal">Belum memiliki akun?</a></small>
                                </div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block mt-1 mb-4 font-weight-bold">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Form Register Account -->
        <div class="modal fade" id="registerModal">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header border-0 mt-1 mx-3">
                        <h5>Register</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <form class="mx-2 needs-validation" id="formRegisterAccount" onsubmit="return false" novalidate>
                                <div class="form-row mb-4">
                                    <div class="form-group col-md-6">
                                        <label for="inEmail">Email</label>
                                        <input type="email" class="form-control" id="inEmailRegister" placeholder="" required>
                                        <div class="invalid-feedback">
                                            Mohon Isi Email
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inPass">Password</label>
                                        <input type="password" class="form-control" id="inPass" placeholder="" required>
                                        <div class="invalid-feedback">
                                            Mohon Isi Password
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row mb-4">
                                    <div class="form-group col-md-3">
                                        <label for="inFName">Nama Depan</label>
                                        <input type="text" class="form-control" id="inFName" placeholder="" required>
                                        <div class="invalid-feedback">
                                            Mohon Isi Nama Depan
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inLName" class="">Nama Belakang</label>
                                        <input type="text" class="form-control" id="inLName" placeholder="" required>
                                        <div class="invalid-feedback">
                                            Mohon Isi Nama Belakang
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inBDate">Tanggal Lahir</label>
                                        <input type="date" class="form-control" id="inBDate" required>
                                        <span class="input-group-append"></span>
                                        <div class="invalid-feedback">
                                            Mohon Isi Tanggal Lahir
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inGender">Jenis Kelamin</label>
                                        <select class="form-control" id="inGender" required>
                                            <option value="0">Male</option>
                                            <option value="1">Female</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Mohon Isi Jenis Kelamin
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label for="inProv">Provinsi</label>
                                        <select id="inProv" class="form-control" required>
                                        </select>
                                        <div class="invalid-feedback">
                                            Mohon Isi Provinsi
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inCity">Kota</label>
                                        <select id="inCity" class="form-control" required>
                                        </select>
                                        <div class="invalid-feedback">
                                            Mohon Isi Kota
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inDis">Kecamatan</label>
                                        <select id="inDis" class="form-control" required>
                                        </select>
                                        <div class="invalid-feedback">
                                            Mohon Isi Kecamatan
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inSubDis">Kelurahan</label>
                                        <select id="inSubDis" class="form-control" required>
                                        </select>
                                        <div class="invalid-feedback">
                                            Mohon Isi Kelurahan
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row mb-4">
                                    <div class="form-group col-md-6">
                                        <label for="inAddress">Alamat</label>
                                        <input type="text" class="form-control" id="inAddress" placeholder="" required>
                                        <div class="invalid-feedback">
                                            Mohon Isi Alamat
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inPhone">Nomor Handphone</label>
                                        <input type="text" class="form-control" id="inPhone" placeholder="" required>
                                        <div class="invalid-feedback">
                                            Mohon Isi No Handphone
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row mb-3">
                                    <div class="form-group col-md-6">
                                        <label for="inMajor">Jurusan</label>
                                        <input type="text" class="form-control" id="inMajor" required>
                                        <div class="invalid-feedback">
                                            Mohon Isi Jurusan
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inUniv">Universitas</label>
                                        <select id="inUniv" class="form-control" required>
                                        </select>
                                        <div class="invalid-feedback">
                                            Mohon Isi Universitas
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" id="buttonRegisterAccount" class="btn btn-primary btn-lg btn-block mt-1 mb-4 font-weight-bold">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Form Forgot Password -->
        <div class="modal fade" id="forgotPass1Modal">
            <div class="modal-dialog modal-dialog-centered" role="document" style="width: 22rem;">
                <div class="modal-content">
                    <div class="modal-header border-0 mt-3 mx-3">
                        <h5>Forgot Password (Email)</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <form class="mx-2">
                                <div class="form-group" onsubmit="return false">
                                    <label class="mb-3" style="text-align:justify" for="LogEmailFP1">Masukan Email kamu yang telah terdaftar di Codemy agar kami bisa mengirim kode OTP!</label>
                                    <input type="email" class="form-control" id="LogEmailFP1" placeholder="emailkamu@disini.com">
                                </div>
                                <button type="button" class="btn btn-primary btn-lg btn-block mt-4 mb-4 font-weight-bold" id="buttonSendOTP">Send OTP</button>
                                <button type="button" class="btn btn-primary btn-lg btn-block mt-4 mb-4 font-weight-bold" hidden id="buttonSendOTP1" data-target="#forgotPass2Modal" data-toggle="modal" data-dismiss="modal">Send OTP</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="forgotPass2Modal">
            <div class="modal-dialog modal-dialog-centered" role="document" style="width: 22rem;">
                <div class="modal-content">
                    <div class="modal-header border-0 mt-3 mx-3">
                        <h5>Forgot Password (OTP)</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <form class="mx-2">
                                <div class="form-group" onsubmit="return false">
                                    <label class="mb-3" style="text-align:justify" for="LogEmailFP2">OTP telah dikirim! Silahkan masukkan di sini.</label>
                                    <input type="email" class="form-control" id="LogEmailFP2" placeholder="KODEOTP">
                                </div>
                                <button type="button" class="btn btn-primary btn-lg btn-block mt-4 mb-4 font-weight-bold" id="buttonCheckOTP">Confirm</button>
                                <button type="button" class="btn btn-primary btn-lg btn-block mt-4 mb-4 font-weight-bold" id="buttonCheckOTP1" hidden data-target="#changePassModal" data-toggle="modal" data-dismiss="modal">Confirm</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="changePassModal">
            <div class="modal-dialog modal-dialog-centered" role="document" style="width: 22rem;">
                <div class="modal-content">
                    <div class="modal-header border-0 mt-3 mx-3">
                        <h5>Change Password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <form class="mx-2">
                                <div class="form-group mb-3" onsubmit="return false">
                                    <label for="LogPass">Silahkan masukkan password baru kamu.</label>
                                    <input type="password" class="form-control mb-3" id="LogNewPass" placeholder="New Password">
                                    <input type="password" class="form-control" id="LogConfirmPass" placeholder="Confirm Password">
                                </div>
                                <button type="button" class="btn btn-primary btn-lg btn-block mt-4 mb-4 font-weight-bold" id="buttonChangePassword">Change</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

    <!-- Form Validate-->
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>

    <!-- Script JS Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/js/account.js" asp-append-version="true"></script>

    @* Class Filter *@
    <script>
        $('#cg').change(function () {
            var selectedItem = $('#cg').val();
            console.log(selectedItem);
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>