<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Client</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/user.css" />
    <script type="text/javascript" src="https://app.sandbox.midtrans.com/snap/snap.js" data-client-key="SB-Mid-client-cyFXZtmM2vBT9TVs"></script>
</head>
<body class="bg-light">
    @* Header *@
    <header>
        @* Navbar *@
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid mx-5">
                <a><img src="https://drive.google.com/uc?export=view&id=1PRI-khOq2Toj1M0KBl-B8NCK1e2GxVe7" alt="" width="30" height="30" class="mr-2"></a>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="~/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="~/class">Codemy Classes</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <div id="loginLogout">
                                @*<a class="nav-item nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Account
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="~/dashboard">My Classes</a>
                                        <a class="dropdown-item" href="~/account">My Account</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Logout</a>
                                    </div>*@
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    @* Body *@
    <div class="mx-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* Footer *@
    <footer class="border-top text-muted mt-5 pt-3 pb-3">
        <div class="container-fluid">
            <span class="ml-5">&copy; 2022 - Codemy - MCC Project</span>
        </div>
    </footer>

    <div id="navModal">
        <div class="modal fade" id="loginModal">
            <div class="modal-dialog modal-dialog-centered" role="document" style="width: 22rem;">
                <div class="modal-content">
                    <div class="modal-header border-0 mt-3 mx-3">
                        <h5>Login</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <form class="mx-2">
                                <div class="form-group">
                                    <label for="LogEmail">Email</label>
                                    <input type="email" class="form-control" id="LogEmail" placeholder="example@mail.com">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="LogPass">Password</label>
                                    <input type="password" class="form-control" id="LogPass" placeholder="*******">
                                    <small><a href="#" class="text-dark font-italic">Lupa password?</a></small>
                                </div>
                                <div class="text-right">
                                    <small><a href="#registerModal" class="text-dark font-italic" data-target="#registerModal" data-toggle="modal" data-dismiss="modal">Belum memiliki akun?</a></small>
                                </div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block mt-1 mb-4 font-weight-bold">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="registerModal">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header border-0 mt-1 mx-3">
                        <h5>Register</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <form class="mx-2">
                                <div class="form-row mb-4">
                                    <div class="form-group col-md-6">
                                        <label for="inEmail">Email</label>
                                        <input type="email" class="form-control" id="inEmail" placeholder="address@mail.com">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inPass">Password</label>
                                        <input type="password" class="form-control" id="inPass" placeholder="********">
                                    </div>
                                </div>
                                <div class="form-row mb-4">
                                    <div class="form-group col-md-3">
                                        <label for="inFName">Nama Depan</label>
                                        <input type="text" class="form-control" id="inFName" placeholder="John">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inLName" class="">Nama Belakang</label>
                                        <input type="text" class="form-control" id="inLName" placeholder="Doe">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inBDate">Tanggal Lahir</label>
                                        <input type="date" class="form-control" id="inBDate">
                                        <span class="input-group-append"></span>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inGender">Kelamin</label>
                                        <select class="form-control" id="inGender">
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label for="inProv">Provinsi</label>
                                        <select id="inProv" class="form-control">
                                            <option>Ab</option>
                                            <option>Bc</option>
                                            <option>Cd</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inCity">Kota</label>
                                        <select id="inCity" class="form-control">
                                            <option>Ab</option>
                                            <option>Bc</option>
                                            <option>Cd</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inDis">Kecamatan</label>
                                        <select id="inDis" class="form-control">
                                            <option>Ab</option>
                                            <option>Bc</option>
                                            <option>Cd</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inSubDis">Kelurahan</label>
                                        <select id="inSubDis" class="form-control">
                                            <option>Ab</option>
                                            <option>Bc</option>
                                            <option>Cd</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row mb-4">
                                    <div class="form-group col-md-6">
                                        <label for="inAddress">Alamat</label>
                                        <input type="text" class="form-control" id="inAddress" placeholder="Jl. Menuju Grade A">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inPhone">Nomor Handphone</label>
                                        <input type="text" class="form-control" id="inPhone" placeholder="081974658394">
                                    </div>
                                </div>
                                <div class="form-row mb-3">
                                    <div class="form-group col-md-6">
                                        <label for="inMajor">Jurusan</label>
                                        <input type="text" class="form-control" id="inMajor" placeholder="Teknik Komputer">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inUniv">Universitas</label>
                                        <select id="inUniv" class="form-control">
                                            <option selected>Choose...</option>
                                            <option>Ab</option>
                                            <option>Bc</option>
                                            <option>Cd</option>
                                        </select>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block mt-1 mb-4 font-weight-bold">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

    <!-- Script JS Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @* Class Filter *@
    <script>
        $('#cg').change(function () {
            var selectedItem = $('#cg').val();
            console.log(selectedItem);
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>