@{
    ViewData["Title"] = "Home Page";
}

<div id="dashboard">

</div>

<div class="mb-5 mt-5">
    <div class="ml-3">
        <h3>Selamat datang (Nama Lengkap)!</h3>
        <p>Selamat belajar dan bereksplorasi.</p>
    </div>
</div>

<div class="mb-3">
    <div class="card">
        <div class="card-header bg-white">
            <h5>Kelas yang Sedang Diproses Pembayaran</h5>
        </div>
        <div class="card-body">
            <table id="unpaidClasses" class="table table-borderless table-striped">
                <thead>
                    <tr>
                        <th scope="col">Class Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Date Expired</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="unpaidClass">
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm">
        <div class="card">
            <div class="card-header bg-white">
                <h5>Kelas yang Sedang Dijalani</h5>
            </div>
            <div class="card-body">
                <table class="table table-borderless table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Class Name</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody id="undoneClass">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card">
            <div class="card-header bg-white">
                <h5>Kelas yang Sudah Selesai</h5>
            </div>
            <div class="card-body">
                <table class="table table-borderless table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Class Name</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody id="doneClass">
                        @*<tr>
                            <td><a href="#">(Nama Kelas A)</a></td>
                            <td><button type="button" class="btn btn-outline-info">Feedback</button><button type="button" class="btn btn-outline-success  ml-2">Certificate</button></td>
                        </tr>
                        <tr>
                            <td><a href="#">(Nama Kelas B)</a></td>
                            <td><button type="button" class="btn btn-outline-info">Feedback</button><button type="button" class="btn btn-outline-success  ml-2">Certificate</button></td>
                        </tr>
                        <tr>
                            <td><a href="#">(Nama Kelas C)</a></td>
                            <td><button type="button" class="btn btn-outline-info">Feedback</button><button type="button" class="btn btn-outline-success  ml-2">Certificate</button></td>
                        </tr>*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>