@{
    ViewData["Title"] = "Home Page";
}

<div id="dashboard">

</div>

<div class="mb-5 mt-5">
    <div class="ml-3">
        <h3>Selamat datang (Nama Lengkap)!</h3>
        <p>Selamat belajar dan bereksplorasi.</p>
    </div>
</div>

<div class="mb-3">
    <div class="card">
        <div class="card-header bg-white">
            <h5>Kelas yang sedang di Proses Pembayaran</h5>
        </div>
        <div class="card-body">
            <table id="unpaidClasses" class="table table-borderless table-striped">
                <thead id="unpaidClassHead">

                </thead>
                <tbody id="unpaidClass">

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm">
        <div class="card">
            <div class="card-header bg-white">
                <h5>Kelas yang sedang Dijalani</h5>
            </div>
            <div class="card-body">
                <table class="table table-borderless table-striped">
                    <thead id="undoneClassHead">

                    </thead>
                    <tbody id="undoneClass">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card">
            <div class="card-header bg-white">
                <h5>Kelas yang sudah Selesai</h5>
            </div>
            <div class="card-body">
                <table class="table table-borderless table-striped">
                    <thead id="doneClassHead">

                    </thead>
                    <tbody id="doneClass">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>