@{
    ViewData["Title"] = "Home Page";
}

<div class="mb-5 mt-5">
    <div class="ml-3">
        <h3>Selamat datang (Nama Lengkap)!</h3>
        <p>Selamat belajar dan bereksplorasi.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <div class="card">
            <div class="card-header bg-white">
                Kelas yang Sedang Dijalani
            </div>
            <div class="card-body">
                <table class="table table-borderless table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Class Name</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="Class">(Nama Kelas A)</a></td>
                            <td><button type="button" class="btn btn-outline-info">Continue</button></td>
                        </tr>
                        <tr>
                            <td><a href="#">(Nama Kelas B)</a></td>
                            <td><button type="button" class="btn btn-outline-info">Continue</button></td>
                        </tr>
                        <tr>
                            <td><a href="#">(Nama Kelas C)</a></td>
                            <td><button type="button" class="btn btn-outline-info">Continue</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card">
            <div class="card-header bg-white">
                Kelas yang Sudah Selesai
            </div>
            <div class="card-body">
                <table class="table table-borderless table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Class Name</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="#">(Nama Kelas A)</a></td>
                            <td><button type="button" class="btn btn-outline-info">Feedback</button><button type="button" class="btn btn-outline-info  ml-2">Certificate</button></td>
                        </tr>
                        <tr>
                            <td><a href="#">(Nama Kelas B)</a></td>
                            <td><button type="button" class="btn btn-outline-info">Feedback</button><button type="button" class="btn btn-outline-info  ml-2">Certificate</button></td>
                        </tr>
                        <tr>
                            <td><a href="#">(Nama Kelas C)</a></td>
                            <td><button type="button" class="btn btn-outline-info">Feedback</button><button type="button" class="btn btn-outline-info  ml-2">Certificate</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
