@{
    Layout = "_ViewGeneralAdmin";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Table</title>
</head>
<body class="hold-transition sidebar-mini layout-fixed" style="background-color: #f4f6f9;">
    <content>
        <table class="table table-striped table-hover table-bordered" id="table_user">
            <caption>Data User</caption>
            <thead class="table-dark">
                <tr>
                    <td>No</td>
                    <td>Email</td>
                    <td>Name</td>
                    <td>Gender</td>
                    <td>Phone</td>
                    <td>BirthDate</td>
                    <td>Address</td>
                    <td>University</td>
                    <td>Major</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </content>
</body>
</html>

