@{
    Layout = "_ViewGeneralAdmin";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Table</title>
</head>
<body class="hold-transition sidebar-mini layout-fixed" style="background-color: #f4f6f9;">
    <content>
        <table class="table table-striped table-hover table-bordered" id="table_user">
            <caption>Data Pembayaran</caption>
            <thead class="table-dark">
                <tr>
                    <td>No</td>
                    <td>Judul</td>
                    <td>Desc</td>
                    <td>TotalChapter</td>
                    <td>Price</td>
                    <td>Rating</td>
                    <td>Level</td>
                    <td>Category</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </content>
</body>
</html>

